<dialog class="modal" data-controller="modal" data-modal-target="modal">
  <div class="modal-backdrop absolute inset-0 bg-black bg-opacity-50" data-modal-target="backdrop"></div>
  <div class="modal-box max-w-4xl bg-base-100 shadow-lg relative z-10">
    <h3 class="text-lg font-bold text-base-content border-b pb-2">
      <%= t('.title') %>: <%= @order.order_number %>
    </h3>

    <div id="price-adjustment-result" class="mt-3"></div>
    <div id="adjustment-form-visibility"></div>

    <div class="py-4">
      <%= render 'sales_reports/modal/sections/basic_info', order: @order %>
      <%= render 'sales_reports/modal/sections/financial_details', order: @order %>
    </div>

    <div data-modal-target="priceAdjustmentForm" class="mt-6 hidden">
      <div class="card bg-base-100 border border-base-200">
        <div class="card-body p-4">
          <h5 class="card-title font-semibold text-base-content flex items-center justify-between">
            <span><%= t('.price_adjustment') %> <span id="adjust-sku-code" data-modal-target="skuCodeDisplay" class="badge badge-outline ml-2"></span></span>
          </h5>

          <div id="price-adjustment-form" data-modal-target="adjustmentFormContent"></div>
        </div>
      </div>
    </div>

    <div class="modal-action pt-3">
      <button type="button" class="btn btn-sm btn-outline" data-action="click->modal#close">
        <iconify-icon icon="lucide:x" class="h-4 w-4 mr-1"></iconify-icon>
        <%= t('.close') %>
      </button>
    </div>
  </div>
</dialog>
